/*External Styling*/
#p3 {
	color: yellow;
}


* {
	font-family: arial, verdana, helvetica;
	font-size: 18px;
}

/*Type Selector*/
h1 {
	font-size: 30px;
}

/*ID Selector*/
#h2 {
	text-transform: uppercase;
}

.languages {
	background-color: seagreen;
}

/*Attribute Selector*/
/* or border: 2px solid rgb(157, 176, 209) */
li[wrap] {
	border-width: 2px;
	border-style: solid;
	border-color: lightblue;
}


/*CSS combinator selector*/
/*adjacent Sibling selector*/
/*list-style-type: none*/
img + ul {
	letter-spacing: 5px;
}

/*Descendant Selector*/
section img {
	height: 200px;
	width: 200px;
	border-radius: 150px;
}

/*Generic Sibling Selector*/
ul ~ p {
	text-align: center;
	color: black;
	font-size: 15px;
}

/*child selector*/
section > ul > li {
	letter-spacing: 2px;
}